/* Master styles */
body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
}
/* container uses grid and template columns using 1 fractional unit (1fr) -the layout is considered to have columns */

/* Nav styles */
.nav-wrapper {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.left-side {
  display: flex;
  /* font-size: 3em;  */
}

/* a {
  display: flex;
  font-size: 6em;
} */

/* #link-wrap1{
  background-color: blue;
} */

.nav-wrapper > .left-side > div   {
  margin-right: 7px;
  font-size: 0.9em;
  
}

#link-wrap {
  background-color: antiquewhite;
  height: 18px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

#link-wrap a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(175, 152, 60);
  transition: color 0.5s;
}

#link-wrap:hover {
  border-bottom: 1px solid rgb(95, 95, 95);
}

#link-wrap > a:hover {
  color: rgb(94, 94, 94);
}

/* Portfolio styles */
.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
  /* width: 33%;
  margin: auto; */
}

.portfolio-img-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* bottom: 900px; */
  
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img{
  width: 100%;
}

.logo-wrapper img {
  width: 75%;
  margin-top: 0;
}

.img-text-wrapper .subtitle {
  
  color: transparent;
  font-weight: 600;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: coral;
  /* transition: 1s; */
  /* filter: brightness(10%); */
}

.img-darken:hover {
  transition: 1s;
  filter: brightness(10%);
}