/* Master styles */
body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
}
/* container uses grid and template columns using 1 fractional unit (1fr) -the layout is considered to have columns */

/* Nav styles */
.nav-wrapper {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.left-side {
  display: flex;
  /* font-size: 3em;  */
}

/* a {
  display: flex;
  font-size: 6em;
} */

/* #link-wrap1{
  background-color: blue;
} */

.nav-wrapper > .left-side > div   {
  margin-right: 7px;
  font-size: 0.9em;
  
}

#link-wrap {
  background-color: antiquewhite;
  height: 18px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

#link-wrap a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(175, 152, 60);
  transition: color 0.5s;
}

#link-wrap:hover {
  border-bottom: 1px solid rgb(95, 95, 95);
}

#link-wrap > a:hover {
  color: rgb(94, 94, 94);
}

/* Portfolio styles */
.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background{
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}